@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: #666;
}

#navbar {
    background-color: #76B616;
    margin: 0;
    padding: 0;
}



.navbar-brand {
    padding: 2px 15px;
}

.jumbImg {
    width: 100%;
    height: 100%;

}

.jumbotron {
    background: url('../img/jumb_bkg.png') center no-repeat;
    height: 400px;
}

.left_content {
    position: relative;
    left: 50px;
    width: 350px;
}
