<!DOCTYPE html> 
<html>
    <head>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/style.css" type="text/css"/>
        
    </head>
    
    <body>
        <nav class="navbar navbar-default" id="navbar">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                <img alt="Brand" src="/img/logo.png">
               </a>
                 <div class="input-group col-sm-5">
                      <span class="input-group-addon" id="basic-addon1">@</span>
                      <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                      <span class="input-group-addon" id="basic-addon1">@</span>
                     <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                    </div>

            </div>
          </div>
</nav>
     <div class="jumbotron" id="jumbImg">
          <h1>uPersonal</h1>
         <div class="col-sm-8">
         <p>Bem Vindo à uPersonal a melhor maneira de gerir seus alunos e acompanhar seu desempenho </p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
             </div>
        </div>

        
        <script type="text/javascript" src="/js/app.js"></script>
    </body>
    
    
</html>
